<h1 class="category-title text-center">Dashboard</h1>

<% if user_signed_in? %>
    <div class="row">
        <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-user"></i>
                Profile
            </h3>
            </div>
            <div class="panel-body">
            <p>
                <strong>Name:</strong>
                <%= current_user.name %>
            </p>
            <p>
                <strong>Email:</strong>
                <%= current_user.email %>
            </p>
            <p>
                <strong>Created at:</strong>
                <%= current_user.created_at %>
            </p>
            <p>
                <strong>Last updated:</strong>
                <%= current_user.updated_at %>
            </p>
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-tasks"></i>
                Tasks
            </h3>
            </div>
            <div class="panel-body">
            <p>
                <strong>Total tasks:</strong>
                <%= current_user.tasks.count %>
            </p>
            <p>
                <strong>Completed tasks:</strong>
                <%= current_user.tasks.completed.count %>
            </p>
            <p>
                <strong>Pending tasks:</strong>
                <%= current_user.tasks.pending.count %>
            </p>
            </div>
        </div>
        </div>
        <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">
                <i class
<% else %>
    <li class="nav-item pr-2 mr-2 btn btn-primary border-dark">
        <%= link_to 'Registrate', new_user_registration_path, class:'text-white' %>
    </li>
    <li class="nav-item pr-2 mr-2 btn btn-success border-dark">
        <%= link_to 'Iniciar Sesion', new_user_session_path, class:'text-white' %>
    </li>
<% end %>
<div class="container">
    <button class="btn btn-primary btn-lg btn-block active"><%= link_to 'Revisar las Clientes', clients_path, class:'text-white'%></button>
    <br>
    <button class="btn btn-warning btn-lg btn-block active"><%= link_to 'Revisar los Contactos Cliente', contacts_path, class:'text-white' %></button>
    <br>
    <button class="btn btn-success btn-lg btn-block active"><%= link_to 'Revisar las Ventas', orders_path, class:'text-white' %></button>
    <br>
    <button class="btn btn-success btn-lg btn-block active"><%= link_to 'Revisar los Productos', products_path, class:'text-white' %></button>
    <h2 class="category-title text-center py-2">Gráficos</h2>
</div>
