<div class="container">
    <ul class="navbar-nav ml-auto mt-2">
    <% if @user.status? %>
        <h1>Bienvenid@, <%= current_user.name %> </h1>
        <h3>Menu Principal</h3>
                <%= link_to 'Actualizar Mis Datos', edit_user_registration_path, class:'nav-link text-dark' %>
        </li>
        <li class="nav-item pt-2 pr-4">
                <%= link_to 'Ir al Dashboard', dashboard_index_path, class:'nav-link text-dark' %>
        </li>
        <h3>Mis Estadisticas</h3>
        <h4>Ventas por dia</h4>
        <%= line_chart Order.group_by_day(:date).count %>
        <h4>Tipos de Ventas</h4>
        <%= bar_chart Order.group(:category).sum(:price) %>
    <% else %>
        <h1>no tiene acceso aún, solicitar autorizacion a su respectiva jefatura o al administrador del sistema</h1>
    <% end %>
    </ul>
</div>
