<%= form_with(model: @product, remote: true) do |f| %>
    <% if @product.errors.any? %>
        <div id = 'error_explanation'>
            <h2 class= "text-danger font-weight-bold">Atención! Existe <%= pluralize(product.errors.count, "error") %> el cual no permite guardar el Producto</h2>
            <ul>
                <% @product.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="form-group row">
        <%= f.label :nombre, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
            <%= f.text_field :name, autofocus: true, placeholder: 'Ingrese nombre del Producto', class: "form-control" %>
        </div>
    </div>
    <div class="form-group row">
        <%= f.label :descripcion, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
            <%= f.text_field :description, placeholder: 'Ingrese descripcion del Producto', class: "form-control" %>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <%= f.label :"tipo producto", class: "text-capitalize" %>
            <%= f.select :category, [:Servicio, :Software, :Hardware], {}, class: "form-control" %>
        </div>
        <div class="col">
            <%= f.label :moneda %>
            <%= f.select :currency, [:Peso, :USD, :UF,], {}, class: "form-control" %>
        </div>
        <div class="col">
            <%= f.label :precio %>
            <%= f.number_field :price, placeholder: 'Ingrese precio del Producto', class: "form-control" %>
        </div>
    </div>
    <div class='actions'>
        <%= f.submit "Guardar Producto", class:'btn btn-success border-dark mt-1'%>
    </div>
<% end %>